# Assignment 1 – Data Structure

## Problem Statement:
You work in XYZ Corporation as a Data Analyst. Your corporation has told you to
work with the structure of the data.
## Tasks To Be Performed:
1. Create a list named ‘myList’ that has the following elements: 10, 20, 30,
‘apple’, True, 8.10:
- a. Now in the ‘myList’, append these values: 30, 40
- b. After that, reverse the elements of the ‘myList’ and store that in
‘reversedList’
2. Create a dictionary with key values as 1, 2, 3 and the values as ‘data’,
‘information’ and ‘text’:
- a. After that, eliminate the ‘text’ value from the dictionary
- b. Add ‘features’ in the dictionary
- c. Fetch the ‘data’ element from the dictionary and display it in the output
3. Create a tuple and add these elements 1, 2, 3, apple, mango in my_tuple.
4. Create another tuple named numeric_tuple consisting of only integer
values 10, 20, 30, 40, 50:
- a. Find the minimum value from the numeric_tuple
- b. Concatenate my_tuple with numeric_tuple and store the result in r1
- c. Duplicate the tuple named my_tuple 2 times and store that in ‘newdupli’
5. Create 2 sets with the names set1 and set2, where set1 contains
{1,2,3,4,5} and set2 contains {2,3,7,6,1}
Perform the below operation:
- a. set1 union set2
- b. set1 intersection set2
- c. set1 difference set2

In [1]:
import numpy as np

In [10]:
myList = np.array([10, 20, 30, 'apple', True, 8.10])
myList

array(['10', '20', '30', 'apple', 'True', '8.1'], dtype='<U32')

In [12]:
myList = np.append(myList,(30,40))
myList

array(['10', '20', '30', 'apple', 'True', '8.1', '30', '40'], dtype='<U32')

In [13]:
reversedList = np.flip(myList)
reversedList

array(['40', '30', '8.1', 'True', 'apple', '30', '20', '10'], dtype='<U32')

In [38]:
dic = {1:'data',2:'information',3:'text'}
dic

{1: 'data', 2: 'information', 3: 'text'}

In [39]:
dic = {key:value for (key,value) in dic.items() if value!='text'}
dic

{1: 'data', 2: 'information'}

In [43]:
dic[3] = 'features'
dic

{1: 'data', 2: 'information', 3: 'features'}

In [45]:
for k,v in dic.items():
    if(v=='data'):
        print(k,v)

1 data

In [48]:
my_tuple = (1, 2, 3, 'apple', 'mango')
my_tuple

(1, 2, 3, 'apple', 'mango')

In [49]:
numeric_tuple = (10, 20, 30, 40, 50)
numeric_tuple

(10, 20, 30, 40, 50)

In [50]:
min(numeric_tuple)

10

In [54]:
r1 = my_tuple + numeric_tuple
r1

(1, 2, 3, 'apple', 'mango', 10, 20, 30, 40, 50)

In [56]:
newdupli = np.copy(my_tuple*2)
newdupli

array(['1', '2', '3', 'apple', 'mango', '1', '2', '3', 'apple', 'mango'],
      dtype='<U11')

In [57]:
set1 = {1,2,3,4,5}
set2 = {2,3,7,6,1}

In [58]:
set1 | set2

{1, 2, 3, 4, 5, 6, 7}

In [59]:
set1 & set2

{1, 2, 3}

In [60]:
set1 - set2

{4, 5}